#!{{ lookPath "bash" }}
set -e

# Define colors
GREEN='\033[0;32m'
YELLOW='\033[1;33m'
RED='\033[0;31m'
NC='\033[0m' # No Color

# Function to print a message with a color
print_msg() {
	local msg=$1
	local color=$2
	echo -e "${color}${msg}${NC}"
}

print_msg "Package installs ========================================================" $YELLOW

{{ $os := .chezmoi.osRelease.id }}

# Setup arch cli utils
{{ if (eq $os "arch") -}}
  PACKAGE_FILE="{{ .chezmoi.homeDir }}/.config/.chezmoi_packages/{{ $os }}.txt"
  print_msg "Detected {{ $os }}, triggering update" $GREEN
{{- end }}

# Setup debian cli utils
{{ if (eq $os "debian") -}}
  print_msg "Detected Debian, triggering update" $GREEN
  PACKAGE_FILE="{{ .chezmoi.homeDir }}/.config/.chezmoi_packages/{{ $os }}.txt"
  sudo apt update
{{- end }}

if [ -z "$PACKAGE_FILE" ]; then
  print_msg "No valid OS detected ({{ $os }}), could not determine what packages to install.  Exiting..." $RED
  exit 1
fi

# Print a message to indicate that the script is starting
print_msg "Starting package installation... $PACKAGE_FILE" $GREEN

packages=""

# Loop over each package name and create one big list
while read package; do
  packages="$packages $package"
done < "$PACKAGE_FILE"


if [[ -n "$packages" ]]; then
  print_msg "Installing packages: $packages..." $YELLOW

{{ if (eq $os "arch") -}}
  # Install all packages using dnf
  sudo pacman -Sy --noconfirm $packages
{{- end }}

{{ if (eq $os "fedora") -}}
  # Install all packages using dnf
  sudo dnf install -y $packages
{{- end }}

{{ if (eq $os "ubuntu") -}}
  # Install all packages using apt
  sudo apt install -y $packages
{{- end }}

{{ if (eq $os "debian") -}}
  # Install all packages using apt
  sudo apt install -y $packages
{{- end }}
fi

# Print a message to indicate that the script is finished
print_msg "All packages installed successfully!" $GREEN
