
{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $work := false -}}{{/* true if this is a work machine */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this is a personal machine */}}
{{- $agekey := false -}}{{/* true if this machine has agekey to decrypt secret */}}
{{- $kubernetes := false -}}{{/* true if this machine is used for Kubernetes work */}}
{{- "" -}}

{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}
{{- if hasKey .chezmoi.osRelease "idLike" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.idLike -}}
{{- end -}}

{{- $profile := "invalid" -}}

{{- $hostname := .chezmoi.hostname -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $ephemeral = true -}}
{{-   $profile = "ephemeral" -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if eq $hostname "unknown" -}}
{{-     $personal = true -}}
{{-     $profile = "personal" -}}
{{-   else if stdinIsATTY -}}
{{-     $personal = promptBoolOnce . "personal" "personal" -}}
{{-     $work = promptBoolOnce . "work" "work" -}}
{{-     $headless = promptBoolOnce . "headless" "headless" -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{-     $profile = "ephemeral" -}}
{{-   else -}}
{{-     $profile = "ephemeral" -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{- if or $personal $work -}}
{{-   $agekey = true -}}
{{- end -}}

{{- if $personal -}}
{{-   $kubernetes = true -}}
{{- end -}}

format: yaml
sourceDir: {{ .chezmoi.sourceDir | quote }}

data:
  osid: {{ $osid | quote }}
  email: {{ $email | quote }}
  username: "user"

  profile: {{ $profile }}

  ephemeral: {{ $ephemeral }}
  work: {{ $work }}
  headless: {{ $headless }}
  hostname: {{ $hostname | quote }}

  personal: {{ $personal }}
  agekey: {{ $agekey }}
  kubernetes: {{ $kubernetes }}

encryption: age

{{- if $agekey }}
age:
  identity: {{ .chezmoi.homeDir }}/.config/chezmoi/key.txt
  recipient: "age1ne5vjjs7kkdpmjwsz5jhwmhaqf3fl7jz6zwa3rxjpqt9ptz7ds7ssv27xp"
{{- end }}
