{{- $personal := false -}}{{/* true if this is a personal machine */}}
{{- $personal = promptBool "personal" -}}
{{- $work := false -}}{{/* true if this is a work machine */}}
{{- $agekey := false -}}{{/* true if this machine has agekey to decrypt secret */}}
{{- $kubernetes := false -}}{{/* true if this machine is used for Kubernetes work */}}

{{- if $personal -}}
  {{- $personal = true -}}
  {{- $work = false -}}
  {{- $agekey = true -}}
  {{- $kubernetes = true -}}
{{- else -}}
  {{- $personal = false -}}
  {{- $work = true -}}
  {{- $agekey = true -}}
  {{- $kubernetes = true -}}
{{- end -}}


format: yaml
sourceDir: {{ .chezmoi.sourceDir | quote }}

data:
  personal: {{ $personal }}
  work: {{ $work }}
  agekey: {{ $agekey }}
  kubernetes: {{ $kubernetes }}

encryption: age

{{- if $agekey }}
age:
  identity: {{ .chezmoi.homeDir }}/.config/chezmoi/key.txt
  recipient: "age1ne5vjjs7kkdpmjwsz5jhwmhaqf3fl7jz6zwa3rxjpqt9ptz7ds7ssv27xp"
{{- end }}
