# Winget Packages
{{- range .packages.windows.winget -}}
winget install -e --disable-interactivity --silent --accept-source-agreements --accept-package-agreements --id {{ . | quote }}
{{ end -}}

$Env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")

# Python CLI Packages

echo "Installing Python CLI packages"
rye install {{ range .packages.python3.cli }} {{.}}{{ end }}

# VS Code Extensions

$installed_extensions = & code --list-extensions

{{ range .packages.vs_code_extensions }}
if ($installed_extensions -notcontains "{{.}}") {
    code --install-extension {{.}}
}
else {
    echo "{{.}} is already installed"
}
{{ end }}
