#!/usr/bin/env bash

export PATH="$HOME/.local/bin/:$HOME/bin/:$PATH"
bindir="$HOME/.local/bin/"
appimagedir="$HOME/AppImages/"

mkdir -p "$bindir"
mkdir -p "$appimagedir"
mkdir -p "$HOME/bin/"

# Native packages

{{ if or (eq .osid "linux-debian") (eq .osid "linux-ubuntu") (eq .osid "linux-debian ubuntu") (eq .osid "linux-ubuntu debian") }}
## Debian
echo "Installing Debian Packages"

sudo nala install --update -y -o APT::Get::AllowUnauthenticated=true {{ range .packages.linux.debian.nala }} {{.}}{{ end }}
sudo nala install --update -y -o APT::Get::AllowUnauthenticated=true {{ range .packages.linux.debian.nala_url }}{{. | quote}} {{ end }}

if [[ $XDG_SESSION_DESKTOP == "KDE" ]]; then
  sudo nala install --update -y -o APT::Get::AllowUnauthenticated=true {{ range .packages.linux.linux_common.kde }} {{.}}{{ end }}
  sudo nala install --update -y -o APT::Get::AllowUnauthenticated=true {{ range .packages.linux.debian.kde }} {{.}}{{ end }}
fi

if hostnamectl | grep -iq 'starlite'; then
  echo "Installing tablet specific packages"
  sudo nala install --update -y -o APT::Get::AllowUnauthenticated=true {{ range .packages.linux.linux_common.tablet_only }} {{.}}{{ end }}
fi
echo "Downloading packages via dra"
{{ range .packages.linux.debian.dra.appimage }}
echo "Downloading {{.}}"
dra download -o "$appimagedir" -i {{.}}
{{ end }}

{{ range .packages.linux.debian.dra.bin }}
echo "Downloading {{.}}"
dra download -o "$bindir" -i {{.}}
{{ end }}

{{ range .packages.linux.debian.dra.package }}
echo "Downloading {{.}}"
sudo dra download -i {{.}}
{{ end }}

{{ range .packages.linux.debian.dra.raw }}
echo "Downloading {{.}}"
dra download {{.}}
{{ end }}

echo "Installing Flatpak packages"
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
flatpak install -y flathub {{ range .packages.linux.debian.flatpak }} {{.}}{{ end }}

{{ else if eq .osid "linux-fedora" }}
## Fedora
echo "Installing RPM packages"

sudo dnf5 install -y {{ range .packages.linux.fedora.dnf5 }} {{.}}{{ end }}
{{ range .packages.linux.fedora.dnf5_url }}
sudo dnf5 install -y {{ . | quote }}
{{ end }}

if [[ $XDG_SESSION_DESKTOP == "KDE" ]]; then
  sudo dnf5 install -y {{ range .packages.linux.linux_common.kde }} {{.}}{{ end }}
fi

if hostnamectl | grep -iq 'starlite'; then
  echo "Installing tablet specific packages"
  sudo dnf5 install -y {{ range .packages.linux.linux_common.tablet_only }} {{.}}{{ end }}
fi

echo "Downloading packages via dra"
{{ range .packages.linux.fedora.dra.appimage }}
echo "Downloading {{.}}"
dra download -o "$appimagedir" -i {{.}}
{{ end }}

{{ range .packages.linux.fedora.dra.bin }}
echo "Downloading {{.}}"
dra download -o "$bindir" -i {{.}}
{{ end }}

{{ range .packages.linux.fedora.dra.package }}
echo "Downloading {{.}}"
dra download -i {{.}}
{{ end }}

echo "Installing Flatpak packages"
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
flatpak install -y flathub {{ range .packages.linux.fedora.flatpak }} {{.}}{{ end }}

{{ else if eq .osid "linux-arch" }}
## Arch
echo "Installing Arch packages"

sudo pacman -Syu --needed {{ range .packages.linux.arch.core }} {{.}}{{end}} {{ range .packages.linux.arch.extra }} {{.}}{{end}} {{ range .packages.linux.arch.multilib }} {{.}}{{end}}

if [[ $XDG_SESSION_DESKTOP == "KDE" ]]; then
  sudo pacman -Syu --needed {{ range .packages.linux.arch.kde }} {{.}}{{ end }} {{ range .packages.linux.linux_common.kde }} {{.}}{{ end }}
fi

if hostnamectl | grep -iq 'starlite'; then
  echo "Installing tablet specific packages"
  sudo pacman -Syu --needed {{ range .packages.linux.linux_common.tablet_only }} {{.}}{{ end }}
fi

if type -P yay >/dev/null 2>&1; then
  yay -Syu --needed {{ range .packages.linux.arch.aur }} {{.}}{{ end }}
elif type -P paru >/dev/null 2>&1; then
  paru -Syu --needed {{ range .packages.linux.arch.kde }} {{.}}{{ end }}
fi

echo "Installing Flatpak packages"
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
flatpak install -y flathub {{ range .packages.linux.arch.flatpak }} {{.}}{{ end }}

{{ end }}

# Executables from GitHub
echo "Installing executables from GitHub"

## Appimages
echo "Installing AppImages"
{{ range .packages.linux.linux_common.dra.appimage }}
echo "Downloading {{.}}"
dra download -o "$HOME"/AppImages/ -i {{.}}
{{ end }}

## Binaries
echo "Installing binary executables"
{{ range .packages.linux.linux_common.dra.bin }}
echo "Downloading {{.}}"
dra download -o "$HOME"/.local/bin/ -i {{.}}
{{ end }}

# Flatpak
echo "Installing Common Flatpaks"
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
flatpak install -y flathub {{ range .packages.linux.linux_common.flatpak }} {{.}}{{ end }}

# Linux self installing packages
echo "Installing self installing packages"
{{ range .packages.linux.linux_common.linux_url }}
bash -c {{ . | quote }}
{{ end }}

# Python3 CLI packages

#echo "Installing Python CLI packages"
#rye install {{ range .packages.python3.cli }} {{.}}{{ end }}

# VS Code Extensions

installed_extensions=$(code --list-extensions)

{{ range .packages.vs_code_extensions }}
if [[ ! "${installed_extensions[*]}" =~ {{.}} ]]; then
  code --install-extension {{.}}
else
  echo "{{.}} is already installed"
fi
{{ end }}
